/* Navbar styling */
#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #6d5b5b;
    background-color: #837272;
    padding: 10px 50px;
}

/* Navbar links */
#navcontent {
    list-style: none;
    padding: 0;
}

#navcontent li {
    position: relative; /* Added */
    display: inline;
    margin-right: 20px;
}

#navcontent li:last-child {
    margin-right: 0;
}

#navcontent li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
}

#navcontent li a:hover {
    text-decoration: underline;
}

/* Dropdown content */
.dropdown-content {
    display: none;
    position: absolute;
    top: calc(100% - 8px); /* Adjusted to be below the menu item */
    left: -10px; /* Adjusted to be closer to the menu item */
    background-color: #837272;
    width: 150px;
    padding: 10px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    transition: opacity 0.4s, visibility 0.4s;
    opacity: 0;
    visibility: hidden;
    border-radius: 8px;
    z-index: 1;
}

#navcontent li:hover .dropdown-content { /* Changed selector to show dropdown on li hover */
    display: block;
    opacity: 0.9;
    visibility: visible;
}

.dropdown-content a {
    color: white;
    padding: 10px 14px;
    text-decoration: none;
    display: block;
}

/* Login button styling */
.btn1 {
    background-color: #333;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
}

.btn1:hover {
    background-color: #f4f1f1;
    color: #070000;
}

/* Footer styling */
footer {
    background-color: #333;
    color: #b68d8d;
    padding: 50px 0;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
}

.detailed-footer {
    background-color: #f8f8f8;
    color: #333;
    padding: 40px 0;
    text-align: center;
}

.footer-info,
.footer-social {
    margin-bottom: 20px;
}

.footer-info p {
    margin: 5px 0;
}

.footer-social ul {
    list-style: none;
    padding: 0;
}

.footer-social ul li {
    display: inline;
    margin: 0 10px;
}

.footer-bottom {
    margin-top: 20px;
    font-size: 14px;
}
