body {
    font-family: 'Ubuntu Mono', monospace;
    margin: 0;
    padding: 0;
}

main {
    text-align: center; /* Aligns text center within main */
    padding: 5rem;
    background-color: #93a3d8;
    display: flex;
    flex-direction: column;
    align-items: center; /* Centers items horizontally */
}

.the-content{
    text-align: center;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.5s; /* ndryshimi ne card me sa sec */
    color: palevioletred;
    background-color: #302b63;
    border-radius: 45px;
    width: 500px;
    margin: 30px;
    padding: 10px;
    border: 3px solid #551650;

}
.card:hover {
    box-shadow: 0 10px 16px 0 rgb(53, 157, 177);
}

.container {
    padding: 10px 16px; /*largesia nga kufiri*/
    max-left: 300px;
    padding: 10px 0;
    border-radius:2px;
    text-align: center;

}

div.card:hover{
    background-color: rgb(2, 45, 53);
    color: rgb(108, 155, 197);
    border-radius:45px;
    border: 2px solid #11395a;
}
.day {
    background-color: #ae9aac;
    padding: 10px 0;
    border-radius:5px;
    color: #302b63;
    text-align: center;
}

.days {
    list-style-type: none;
    text-align: center;
}


.days li {
    display: inline-block; /*forma e blloqeve qe permban ditet*/
}

.days li a {
    display: block;
    padding: 10px 20px;
    margin-left: 50px;
    text-decoration: none;
    color: rgb(243, 238, 238);
    background: rgb(151, 103, 146);
    border-radius:15px;
    border: 2px solid #d59fd0;
}

.days li a:hover {
    background-color: #551650;
    box-shadow: 0 10px 16px 0 rgb(151, 103, 146);
}

main {
    padding: 20px;
}

section {
    margin-bottom: 50px;
}

h2 {
    color: #551650;
}

ul {
    list-style-type:none ; /* nuk ka asnje simbol para listave */
    padding: 10px;
}

li {
    margin-bottom: 10px;

}

img{
    width: 100px; /* Adjust the width as needed */
    height: auto; /* Automatically adjust height to maintain aspect ratio */
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5); /* Adds a subtle shadow */
    opacity: 0.7; /* Adjust the opacity value (0 to 1) as needed */
    position: relative;
    display: inline-block;

}

.gallery1 {
    display: flex;
    margin-top: 40px;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: nowrap; /* Ensure images stay in one line */
}

.gallery2 {
    display: flex;
    margin-top: 40px;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: nowrap; /* Ensure images stay in one line */
}

.image {
    text-align: center;
}


.image img {
    width: 120px;
    height: auto;
    margin-bottom: 10px; /* Add space between image and caption */
}

.caption {
    font-size: 14px;
    color: #555;
    margin: 10px;
}
#femij{
    color: #9f3d95;
    text-decoration: none;
}